body {
    	background-color: #eeeeee;
	}

.wrapper{
	margin: auto;
	width: 640px;
	background-color: white;
	padding: 50px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(168,168,168,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(168,168,168,1);
	box-shadow: 0px 0px 5px 1px rgba(168,168,168,1);
}

.content{
	border-bottom: 1px solid #9a9a9a;
}

div{
	padding-bottom: 12px
}

img{
	display: block;
	margin: auto;
	height: 200px;
}      	
    
p, ul, a {
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	line-height: 28px;
}

h1{
	text-align: center;
}

p, a {
    padding-left: 20px;
}

ul{
    padding-left: 50px;
    padding-top: 25px
}
